@import 'base';
header{
	
}

body {
	font-size: 62.5%;
	font-family: 'Din Alternate', Arial, sans-serif;
	background: url('../images/white_wall_hash.png') repeat;
}

h1 {

	color: #ed6838;
	font-size: 4em;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 70px;

}

.hidden {

	width: 220%;
	margin-left: -180px;
	overflow: hidden;
	height: 0;
	opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;

    input {
    	margin: 4px;
    }

	input[type="submit"] {
		font-size: 1.5em;
		color: #00b097;
		border: none;
		background: none;
		cursor: pointer;
	}

}

.hidden.open {
	height: 120px;
	opacity: 1;
	margin-top: 25px;
	margin-bottom: 25px;
}

.searchgroup {
	width: 125%;
	
	input[type="submit"] {
		width: 100%;
		margin-top: 12px;
	}
}

.hidden.test {
	opacity: 1;
	height: 117px;
}

label {
	color: #9fa3a3;
	font-size: 2.2em;
	vertical-align: top;
	margin-left: 4px;
}

select {
	background-color: #d1d1d1;
	border: none;
	width: 250px;
	height: 60px;
	color: white;
	font-size: 1.6em;
	margin-top: 20px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	padding: 6px;
}

section {
	text-align: center;
}

section input[type="text"], input[type="email"], input[type="password"] {

	background-color: #d1d1d1;
	border: none;
	width: 250px;
	height: 35px;
	color: white;
	font-size: 1.6em;
	padding-left: 12px;

}

.register div, .createflow div {
	padding: 12px;
}

.register a {
	color: #ed6838;
	text-decoration: none;
}

.register label, .createflow label {
	padding-right: 12px;
}

.addgroupform input[type="submit"] {
	font-size: 1.5em;
	color: #00b097;
	border: none;
	background: none;
	cursor: pointer;
}

.createflow textarea.description {
	max-width: 250px;
    min-width: 250px;
    max-height: 100px;
    min-height: 100px;
    background-color: #d1d1d1;
    border: none;
    color: white;
    font-size: 1.6em;
	padding: 6px;
}

.index ul, .mygroups ul {
	margin: 0 auto;
	width: 20%;
	list-style-type: none;
}

.mygroups > a {
	color: #f8d243;
	text-decoration: none;
	font-size: 1.8em;
}

.groen {
    text-align: center;
    width: 255px;
    height: 60px;
    background: #00b097;
    box-shadow: 10px -10px #245557;
    margin-top: 50px;
    line-height : 65px;
}

.nav a {
	color: #fff;
	font-size: 2.6em;
	text-decoration: none;
}

// .groen a, .yellow a {
// 	color: #fff;
// 	font-size: 2.6em;
// 	text-decoration: none;
// }

.yellow {

	background: #f8d243;
	width: 255px;
	height: 60px;
    line-height : 55px;
    margin-top: 50px;
    box-shadow: 10px -10px #ed6838;

}

.searchgroup input{
	background-color: #d1d1d1;
	border: none;
	width: 250px;
	height: 30px;
	color: white;
    font-size: 1.6em;
}

.save {
	font-size: 1.6em;
}

aside {

	width: 200px;
	background-color: #00b097;
	float: left;
	position: fixed;
	top: 0;
	bottom: 0;

}

aside h1 {
	color: #f8d243;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 1.5em;
}

aside a {
	color: white;
	text-decoration: none;	
}

aside li {
	font-size: 1.2em;
	margin-bottom: 10px;
}

aside > p {
	position: fixed;
	bottom: 10px;
	left: 3.5%;
}

.createflow {
	float: right;
	background: rgba(255, 255, 255, 0.5);
	width: 90%;
	position: fixed;
	top: 0;
	left: 14%;
	bottom: 0;
}

.back {
	float: left;
	bottom: 10px;
	position: fixed;
	left: 10px;
}

.back a {
	color: #00b097;
	text-decoration: none;
}

.add, .info_user{
	float: right;
	margin-right: 12px;
	color: #ed6838;
	bottom: 10px;
	right: 10px;
	position: fixed;
}

.add p, .info_user p {
	margin-top: 20px;
}

.add span, .info_user span{
	background-color: #f8d243;
	padding: 10px;
}

.add span a, .info_user span a {
	color: #ed6838;
	text-decoration: none;
	font-size: 2.6em;
}

.toolbar {
	background-color: #e6e6e6;
	width: 475px;
	height: 35px;

	input {
		border: 1px solid #d1d1d1;
		background-color: #e6e6e6;
		width: 60px;
		height: 35px;
	}

	select {
		width: 60px;
		height: 35px;
	}
}

.title { 
	float: left;
}

.content{
	position:relative;

}
.app {
	background-color: rgba(200,200,200,.4);
	margin-top: 30px;
	//left: 400px;
	display: block;
	z-index: 0;

}
.app, canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
canvas{
	z-index: -1;
}

.button {

	z-index: 0;
	width: 100px;
	height: 40px;
	position: relative;
	top: -30px;

}

.chosen{
	font-weight: bold;
	color: black;
	font-size: 2.0em;
}
.shape {
	z-index: 1;
	width: 200px;
	height: 100px;
	display: block;
	position: absolute;
	background-color: #ddd;
	padding: 10px;
	padding-top: 20px;
	border: dotted 1px black;
}
.shape textarea {
	background-color: #ddd;
	width: 100%;
	height: 100%;
	//margin: 0 auto;
	transition: background-color 1s;
	resize: none;
}

.shape textarea:hover {
	background-color: #eee;
}

textarea {
	padding: 0;
	border: none;
	overflow: hidden;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.draggable {
    cursor: move;
}
.resizable {
	cursor: se-resize;
}

/*.ui-resizable-handle, .ui-icon, .ui-icon-gripsmall-diagonal-se, .ui-resizable-se{
	width: 20px;
	height: 20px;
	z-index: 90;
	cursor: se-resize;
	position: absolute;
	bottom: 0;
	right: 0;
}*/

