@import 'base';
header{
	
}
.content{
	position:relative;

}
.app {
	background-color: rgba(200,200,200,.4);
	margin-top: 30px;
	position: relative;
	//left: 400px;
	display: block;
	width: 600px;
	height: 600px;
	z-index: 0;

}
.button {
	z-index: 0;
	width: 100px;
	height: 40px;
	position: relative;
	top: -30px;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 600px;
	z-index: -1;
}
.shape {
	z-index: 1;
	width: 200px;
	height: 100px;
	display: block;
	position: absolute;
	background-color: #ddd;
	padding: 10px;
	padding-top: 20px;
	border: dotted 1px black;
}
.shape textarea {
	background-color: #ddd;
	width: 100%;
	height: 100%;
	//margin: 0 auto;
	transition: background-color 1s;
	resize: none;
}
.shape textarea:hover {
	background-color: #eee;
}
textarea {
	padding: 0;
	border: none;
	overflow: hidden;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.draggable {
    cursor: move;
}
.ui-resizable-handle, .ui-icon, .ui-icon-gripsmall-diagonal-se, .ui-resizable-se{
	width: 20px;
	height: 20px;
	z-index: 90;
	cursor: se-resize;
	position: absolute;
	bottom: 0;
	right: 0;
}